body{
    margin: 0;
}
table {
    width: 50vw;
    height: 100vh;
    border-collapse: collapse;
}
.topleft, .topright, .bottomleft, .bottomright {
    width: 95px;
    height: 95px;
    background: url("ramka/angle.png") no-repeat;
    background-size: contain;
}

.topleft {
    transform: rotate(90deg);
}
.topright {

    transform: rotate(180deg);
}
.horizontaltop {
    background: url("ramka/horizontal.png")  repeat-x;
}
.verticalleft {
    background: url("ramka/vertical.png") repeat-y;
}
.verticalright {
    background: url("ramka/vertical.png") 100% repeat-y;
}
.horizontalbottom {
    background: url("ramka/horizontal.png") 0 100% repeat-x;
}
.bottomright {
    transform: rotate(270deg);
}