.header, body {
    width: 500px;
    margin: 0 auto;
    /* display: inline-block; */
    font-family: monospace;
}
.c1, .c2, .c3 {
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.5s ease-in-out;
    outline: none;
    width: 97px;
    height: 26px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    background-color: #c4f200;
    color: #ffffff;
    padding-top: 3px;
    margin: 31px;
}
.c3 {
    clear: right;
}
.c1:hover, .c2:hover, .c3:hover {
    background-color: #4f75dd;
}
#e1:checked~.c1, #e2:checked~.c2, #e3:checked~.c3 {
    background-color: #4f75dd;
}
#e1, #e2, #e3 {
    display: none;
}
.b1,.b2, .b3 {
    position: relative;
    border: none;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(0,0,0,0.15);
    outline: none;
    width: 161px;
    height: 161px;
    margin-top: 50px;
}
.b1 {
    clear: both;
}
#e1:checked~.b1, #e1:checked~.b2, #e1:checked~.b3,
#e2:checked~.b1, #e2:checked~.b2, #e2:checked~.b3,
#e3:checked~.b1, #e3:checked~.b2, #e3:checked~.b3 {
    background: url(eda.png) no-repeat;
    background-size: 83%;
    transition: all 1s ease-in-out;
}
#e1:checked~.b1:hover:after, #e1:checked~.b2:hover:after, #e1:checked~.b3:hover:after,
#e2:checked~.b1:hover:after, #e2:checked~.b2:hover:after, #e2:checked~.b3:hover:after,
#e3:checked~.b1:hover:after, #e3:checked~.b2:hover:after, #e3:checked~.b3:hover:after {
    color: red;
    font-size: 27px;
    display: block;
    border-radius: 50%;
    border: solid 2px #cccccc;
    box-shadow: 0 0 91px rgb(0, 0, 0);
    background-color: white;
    width: 59px;
    height: 46px;
    position: absolute;
    top: 53px;
    left: 50px;
    padding-top: 12px;
    text-align: center;
    font-weight: bold;
}
#e1:checked~.b1 {
    background-position: 68% -.7%;
}
#e1:checked~.b2 {
    background-position: 62% 11.5%;
}
#e1:checked~.b3 {
    background-position: 41% 25.5%;
}
#e2:checked~.b1 {
    background-position: 68% 38.3%;
}
#e2:checked~.b2 {
    background-position: 62% 50.57%;
}
#e2:checked~.b3 {
    background-position: 50% 63%;
}
#e3:checked~.b1 {
    background-position: 59% 75.7%;
}
#e3:checked~.b2 {
    background-position: 58% 87.57%;
}
#e3:checked~.b3 {
    background-position: 50% 100.1%;
}
#e1:checked~.b1:hover:after,
#e2:checked~.b1:hover:after,
#e3:checked~.b1:hover:after{
    content: "2$";
}
#e1:checked~.b2:hover:after,
#e2:checked~.b2:hover:after,
#e3:checked~.b2:hover:after {
    content: "5$";
}
#e1:checked~.b3:hover:after,
#e2:checked~.b3:hover:after,
#e3:checked~.b3:hover:after {
    content: "3$";
}

