li {
  display: inline-block;
  font-size: 10px;
}
ul {
  margin: 0 auto;
  width: 200px;
}
.ad {
  margin: 20px auto;
  display: block;
  width: 200px;
  left: 113px;
  position: absolute;
}
#block {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 5px black;
}
#circle {

  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px black;
}
#triangle {
  width: 3px;
  border: 50px solid transparent;
  border-right: 50px solid #000000;
}
#block:target, #circle:target, #triangle:target {
  display: block;
}
#block:not(:target), #circle:not(:target), #triangle:not(:target)  {
  display: none;
}
