.chessTable {
    position: relative;
    width: 80vmin;
    height: 80vmin;
    outline: solid 2px black;
    margin: 10%;
    counter-reset: div;
}
.chessTable>div {
    width: calc(80vmin / 8);
    height: calc(80vmin / 8);
    position: relative;
    float: left;
}
div:nth-child(n):nth-child(-n+9):nth-child(even), div:nth-child(n+9):nth-child(-n+16):nth-child(odd),
div:nth-child(n+17):nth-child(-n+24):nth-child(even), div:nth-child(n+25):nth-child(-n+32):nth-child(odd),
div:nth-child(n+33):nth-child(-n+40):nth-child(even), div:nth-child(n+41):nth-child(-n+48):nth-child(odd),
div:nth-child(n+49):nth-child(-n+56):nth-child(even), div:nth-child(n+57):nth-child(-n+64):nth-child(odd) {
    background-color: grey;
}
.chessTable>div:nth-of-type(8n+1):before {
    counter-increment: div;
    content: counter(div);
    display: block;
    height: 10vmin;
    width: 10vmin;
    margin-left: -25%;
    margin-top: 27%;
}
div:nth-child(n):nth-child(-n+64):not(.chessTable) {
    background-image: url(chess.png);
    background-size: 500%;
    background-repeat:no-repeat;
}
div:nth-child(n+17):nth-child(-n+48):not(.chessTable) {
    background-image: none;
}

div:nth-child(n+49):nth-child(-n+56) {
    background-position: 106% 129%;
}
div:nth-child(n+49):nth-child(-n+56):hover {
    background-position: 106% -21%;
}
div:nth-child(n+9):nth-child(-n+16) {
    background-position: 106% -21%;
}
div:nth-child(n+9):nth-child(-n+16):hover {
    background-position: 106% 129%;
}
div:nth-of-type(1):not(.chessTable), div:nth-of-type(8):not(.chessTable) {
    background-position: 40% -21%;
}
div:nth-of-type(1):not(.chessTable):hover, div:nth-of-type(8):not(.chessTable):hover {
    background-position: 40% 130%;
}
div:nth-of-type(57):not(.chessTable), div:nth-of-type(64):not(.chessTable) {
    background-position: 40% 130%;
}
div:nth-of-type(57):not(.chessTable):hover, div:nth-of-type(64):not(.chessTable):hover {
    background-position: 40% -21%;
}
div:nth-of-type(2):not(.chessTable), div:nth-of-type(7):not(.chessTable) {
    background-position: 85% -21%;
}
div:nth-of-type(2):not(.chessTable):hover, div:nth-of-type(7):not(.chessTable):hover {
    background-position: 85% 129%;
}
div:nth-of-type(3):not(.chessTable), div:nth-of-type(6):not(.chessTable) {
    background-position: 62% -25%;
}
div:nth-of-type(3):not(.chessTable):hover, div:nth-of-type(6):not(.chessTable):hover {
    background-position: 62% 127%;
}
div:nth-of-type(4):not(.chessTable) {
    background-position: -5% -26%;
}
div:nth-of-type(4):not(.chessTable):hover {
    background-position: -4% 122%;
}
div:nth-of-type(5):not(.chessTable) {
    background-position: 18% -30%;
}
div:nth-of-type(5):not(.chessTable):hover {
    background-position: 18% 129%;
}
div:nth-of-type(58):not(.chessTable), div:nth-of-type(63):not(.chessTable) {
    background-position: 85% 127%;
}
div:nth-of-type(58):not(.chessTable):hover, div:nth-of-type(63):not(.chessTable):hover {
    background-position: 85% -21%;
}
div:nth-of-type(59):not(.chessTable), div:nth-of-type(62):not(.chessTable) {
    background-position: 62% 129%;
}
div:nth-of-type(59):not(.chessTable):hover, div:nth-of-type(62):not(.chessTable):hover {
    background-position: 62% -25%;
}
div:nth-of-type(60):not(.chessTable) {
    background-position: -4% 122%;
}
div:nth-of-type(60):not(.chessTable):hover {
    background-position: -5% -26%;
}
div:nth-of-type(61):not(.chessTable) {
    background-position: 18% 129%;
}
div:nth-of-type(61):not(.chessTable):hover {
    background-position: 18% -30%;
}
div:nth-of-type(n):after {
    display: block;
    margin-top: -35%;
    margin-left: 46%;
}
div:nth-of-type(1):not(.chessTable)::after {
    content: "A";
    margin-top: -16vmin;
}
div:nth-of-type(2):after {
     content: "B";
}
div:nth-of-type(3):after {
     content: "C";
}
div:nth-of-type(4):after {
      content: "D";
}
div:nth-of-type(5):after {
       content: "E";
}
div:nth-of-type(6):after {
        content: "F";
}
div:nth-of-type(7):after {
    content: "G";
}
div:nth-of-type(8):after {
    content: "H";
}